
    /* Estilo global */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: white; /* Fundo branco */
        color: white; /* Texto preto */
        line-height: 1.6;
    }

    /* Estilo do cabeçalho */
    header {
        background-color: #800080; /* Fundo roxo */
        color: #ffffff; /* Texto branco */
        text-align: center;
        padding: 20px 0;
    }

    header h1 {
        margin: 0;
    }

    .color-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
        border: 1px solid #000; /* Adiciona uma borda para garantir que a cor seja visível */
        background-color: #ffffff; /* Fundo branco para as caixas de cor */
    }

    /* Seções */
    section {
        margin: 20px auto;
        padding: 20px;
        max-width: 800px;
        background-color: #800080; /* Fundo roxo */
        color: #ffffff; /* Texto branco */
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    section h2 {
        color: #ffffff; /* Títulos em branco */
        margin-bottom: 10px;
    }

    section p {
        color: #ffffff; /* Texto em branco */
    }

    /* Rodapé */
    footer {
        background-color: #000000; /* Fundo preto */
        color: #ffffff; /* Texto branco */
        text-align: center;
        padding: 10px 0;
        margin-top: 20px;
    }
