/* styles/layout.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Header, menu, conteúdo, footer */
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header-text"
        "menu"
        "content"
        "footer";
    min-height: 100vh;
}

/* Header Text */
.header-text {
    grid-area: header-text;
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    text-align: left;
}

/* Menu */
.menu {
    grid-area: menu;
    background-color: #000000;
    padding: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.menu ul li {
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Container for Main and Aside */
.container {
    display: grid;
    grid-area: content;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 0;
}

/* Main Content */
.main-content {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: left;
    padding: 0;
}

/* Aside Content */
.aside-content {
    background-color: #ffffff;
    padding: 0;
    text-align: left;
}

/* Footer */
.footer {
    grid-area: footer;
    background-color: #4d4d4d;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
