/* Base CSS */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #003366;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-family: 'Anton', sans-serif;
    margin: 0;
    font-size: 2rem;
}

nav.menu ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav.menu ul li a:hover {
    color: #FFD700;
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
    grid-template-rows: auto; /* Altura dinâmica */
    gap: 2rem;
    padding: 0 1rem;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    grid-column: span 3; /* Ocupa 3 colunas */
}

#about {
    grid-column: 1 / 4; /* Coluna 1 até 4 */
    grid-row: 1; /* Primeira linha */
}

#city {
    grid-column: 1 / 4; /* Coluna 1 até 4 */
    grid-row: 2; /* Segunda linha */
}

.resources {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    grid-column: 4 / 5; /* Coluna 4 até 5 */
    grid-row: 1 / 3; /* Ocupa duas linhas (1 e 2) */
    text-align: center;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #003366;
    color: #f0f2f5;
    margin-bottom: 1rem;
    text-align: center;
}

.card-content p {
    margin: 0 0 1rem;
    text-align: justify;
}

.card-content img {
    border-radius: 8px;
    max-width: 120px;
    float: right;
    margin-left: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.resources h2 {
    font-size: 1.5rem;
    background-color: #003366;
    color: #f0f2f5;
    margin-bottom: 1rem;
}

.resources ul {
    list-style: disc; /* Adiciona os pontos */
    margin: 0; /* Remove espaçamento externo extra */
    padding-left: 1.5rem; /* Define o espaço à esquerda dos pontos */
    text-align: left; /* Garante o alinhamento à esquerda */
}

.resources ul li {
    margin: 0.5rem;
}

.resources ul li a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.resources ul li a:hover {
    color: #FFD700;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    #about, #city, .resources {
        grid-column: span 1; /* Ocupa uma coluna */
        grid-row: auto; /* Layout sequencial */
    }
}
