/* Estilos base (Mobile-first) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    background: rgb(173, 25, 25);
    padding: 30px;
    color: white;
}

header h1 {
    margin: 0;
}

.main-image {
    width: 100%;
    height: auto; /* Ajusta a altura proporcionalmente */
    display: block;
    padding: 0px;
}

.data, .weather {
    margin: 20px 0;
    padding: 20px;
    text-align: center; /* Centraliza o texto dentro das seções */
    width: 90%;
    max-width: 600px;
    background-color: #521e06;
    color: #ffffff;
}



.data ul, .weather ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data li, .weather li {
    margin: 10px 0; /* Espaçamento entre as linhas */
    display: flex;
    flex-direction: column; /* Organiza o rótulo e o valor verticalmente */
    align-items: center;
}

.data li span, .weather li span {
    display: block; /* Faz o valor aparecer abaixo do rótulo */
    margin-top: 5px; /* Espaçamento entre o rótulo e o valor */
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr; /* Layout horizontal: imagem ocupa 2 partes, data e weather 1 parte cada */
        gap: 20px;
        align-items: start;
        width: 100%;
        height: calc(100vh - 160px); /* Ajusta a altura para telas grandes */
        display: block; /* Remove o grid */
    }

    .main-image {
        width: 100%;
        height: 100%; /* Faz a imagem cobrir toda a altura da tela */
        object-fit: cover; /* A imagem cobre toda a área */
    }

    .data, .weather {
        background: #f9f9f9;
        border: 1px solid #ddd;
        background-color: #521e06;
        width: 200px; /* Reduz a largura dos quadros */
        padding: 5px;

    }

    h2{
        background-color: rgb(255, 255, 255);
        padding: 5px;
        color: black;
    }

    .data {
        position: absolute;
        top: 20%;
        left: 2%;
        font-size: 12px;
    }

    .weather {
        position: absolute;
        top: 20%;
        right: 2%;
    }

    footer {
        text-align: center;
        background-color: rgb(173, 25, 25);
        padding: 20px; /* Ajuste o padding conforme necessário */
        color: white;
        margin-top: 0;
    }
}
